# Default owner for everything
*        @AffanShaikhSurab

# Owner for GitHub Actions workflow
.github/workflows/*  @AffanShaikhSurab

# Owner for core language files
src/simply.py        @AffanShaikhSurab
src/*                @AffanShaikhSurab

# Owner for tests
tests/*              @AffanShaikhSurab

# Owner for documentation
docs/*               @AffanShaikhSurab

# Owner for CI/CD configurations
.github/*            @AffanShaikhSurab

# Owner for general project files
README.md            @AffanShaikhSurab
CONTRIBUTING.md      @AffanShaikhSurab
LICENSE              @AffanShaikhSurab
Roadmap.md           @AffanShaikhSurab
